/*HEADER*/

body {
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
}

h1 {
	font-size:24px;
	font-family: 'Old Standard TT', serif;
	font-weight:600;
	color:#e5ddb9;
}

h2 {
	font-size:22px;
	font-family: 'Old Standard TT', serif;
	font-weight:600;
	color:#e5ddb9;
	
}

.p1 {
	color:white;
	font-size:14px;
	font-weight:400;
	font-family:'georgia', serif;
	line-height: 18px;
	margin-left: 1px;
}

.p1 a {
	color:#FFF;
	text-decoration:underline;
}

.hrgolden {
	background-image:url(images/hr.png);
	background-repeat:repeat-x;
	width: 452px;
}

#test {
	width: auto;
	display:none;
}

#headMaster	{
	width: 100%;
	height: auto;
	background-image:url(images/headertransp.png);
	background-repeat:repeat-x;
}

#master	{
	width:980px;
	height:auto;
	margin: 0 auto 0 auto;
	padding: 10px 0 0 0;
}

#maskheader{
	width: 550px;
	height: auto;
	margin-left:auto;
	margin-right:auto;
}

#globalnav {
	height: 35px;
	width: 550px;
	background-image:url(images/globalmenu.png);
	background-repeat:no-repeat;
	margin: 0 auto 0 auto;
	text-align:center;
	padding: 15px 0 0 0;
	z-index: 10001;
}

#globalnav li{
	display: inline;
	list-style-type: none;
	margin: 20px 15px 0 15px;
	font-family: 'Old Standard TT', serif;
	color:#e5ddb9;
	font-size:20px;
	font-weight:600;
}

#dancinglady {
	height: 688px;
	width: 288px;
	background-image:url(images/Damen10procent.png);
	background-repeat:no-repeat;
	position: absolute;
	margin-top: 10px;
	margin-left: 1%;
}

.navBox	{
	display:inline-block;
}

.navText	{
	width:auto;
}

.navArrow	{
	width:15px;
	height:13px;
	background-image:url(images/pil.png);
	margin: 2px auto 0 auto;
	display:none;
}

.navA {
	display: inline;
	list-style-type: none;
	margin: 20px 15px 0 15px;
	font-family: 'Old Standard TT', serif;
	color:#e5ddb9;
	font-size:20px;
	font-weight:600;
}

.navText p	{
	display: inline;
	list-style-type: none;
	margin: 20px 15px 0 15px;
	font-family: 'Old Standard TT', serif;
	color:#e5ddb9;
	font-size:20px;
	font-weight:600;
}

#skoleDiv	{
	height:auto;
	width:auto;
	display:inline-block;
	position:relative;
	float:right;
}

#skoleDiv span	{
	color:#FFF;
}

/*Tilmelding*/

#tilmeldKnap	{
	width:50px;
	height:200px;
	background-image:url(images/tilmeldBold.png);
	position:relative;
	float:right;
	cursor: pointer;
	z-index:100;
	margin-top:300px;
}

#tilmeldMaster	{
	width:100%;
	height:auto;
	position:absolute;
	margin: 0 auto 0 auto;
	z-index:1000;
	display:none;
	background-image:url(images/overlay.png)
}

#tilmeldDiv	{
	width:510px;
	height:400px;
	margin: 200px auto 0 auto;
	/*background-color:#5bbce4;*/
	background-image:url(images/headertransp03.png);
	padding: 20px;
	box-shadow: 3px 3px 4px #000;
}

#tilmeldDesc	{
	margin:0 10px 40px 10px;
}

#tilmeldDesc h1	{
	font-family: 'georgia', serif;
	color:#e5ddb9;
	font-size:20px;
	font-weight:600;
	margin: 0 0 10px 0;
}

#tilmeldDesc p	{
	font-family: 'georgia', serif;
	color:#000;
	font-size:14px;
	color:#fff;
}


.formBox	{
	height:30px;
	margin:10px 10px 10px 10px;
	color:#e5ddb9;
}

.formLeft	{
	width:200px;
	height:auto;
	float:left;
	margin: 0 0 0 35px;
}

.formRight	{
	width:200px;
	height:auto;
	float:right;
}

#frame {
	height: auto;
	width: 700px;
	margin: -8px auto 0 auto;
}

#contactform {
	height: auto;
	width: 450px;
	margin: 0 auto 0 auto;
}

#contactform p {
	color:#e5ddb9;
	font-family: 'Old Standard TT', serif;
}

#frametop {
	height: 100px;
	width: 700px;
	background-image:url(images/rammetop02.png);
}

#sideframewrapper{
	height: auto;
	width: 700px;
}

#framebottom {
	height:100px;
	width: 700px;
	background-image:url(images/rammebottom02.png);
}

.frametophtag {
	height: 20px;
	width: 700px;
	margin-top: 60px;
	float: left;
	text-align:center;
}

#tiltoppen {
	height: 20px;
	width: 700px;
	margin-top: 30px;
	float: left;
}

#tiltoppen p {
	font-family: 'Old Standard TT', serif;
	text-align:center;
	color:#e5ddb9;
	text-decoration:underline;
}

.tilTop	{
	font-family: 'Old Standard TT', serif;
	text-align:center;
	color:#e5ddb9;
	text-decoration:underline;
}

#rammemiddle {
	height: 150px;
	width: 700px;
	height: auto;
	width: 700px;
	background-image:url(images/rammemiddle02.png);
	background-repeat:repeat-y;
}

.rammecontent {
	height: auto;
	width: 520px;
	margin: 0 90px 0 90px;
	padding-top:20px;
	padding-bottom: 20px;
}

.nyhedwrapper {
	width: 520px;
	height: auto;
	margin: 0 90px 0 90px;
	padding-top:20px;
	padding-bottom: 20px;
}

.nyhedimage {
	width: 450px;
	height: 150px;
	margin: 0 auto 0 auto;
}

.nyhedtext {
	width: 450px;
	height: auto;
	margin: 0 auto 0 auto;
	padding-top:20px;
	padding-bottom: 20px;
}

.nyhedtext p{
	font-family: 'georgia', serif;
	font-size:14px;
	color:#fff;
	line-height: 18px;
}

.nyhedtext ul, li {
	font-family: 'georgia', serif;
	font-size: 14px;
	color: #fff;
	list-style-type: square;
	margin-left: 10px;
	margin-top: 5px;
}

.nyhedtext a {
	color:#FFF;
	text-decoration:underline;
}

.timestamp {
	width: 110px;
	height: 20px;
	font-family: 'georgia', serif;
	font-size:10px;
	font-style:italic;
	margin-left: 340px;
	margin-top: 20px;
}

.timestamp p {
	color:#999;
}

.nyhedheadline {
	height: 20px;
	width: 450px;
	font-family: 'Old Standard TT', serif;
	text-align:center;
	color:#e5ddb9;
	margin: 20px auto 0 auto;
}

.contactimage1 {
	width: 150px;
	height: 150px;
	margin-left: 35px;
	float: left;
}

.contactimage2 {
	width: 150px;
	height: 150px;
	margin-right: 35px;
	float: right;
}

.contacttext1 {
	width: 280px;
	height: 150px;
	margin-right: 35px;
	float: right;
	font-family:Georgia, serif;
}

.contacttext2 {
	width: 280px;
	height: 150px;
	margin-left: 35px;
	float: left;
	text-align: right;
}

.contacttext1 p {
	color:white;
}

.contacttext2 p {
	color: white;
	line-height: 20px;
	font-family: Georgia, serif;
}

.contacttext2 a {
	color: white;
	line-height: 20px;
	font-family: Georgia, serif;
}

.contacttext2 a:visited {
	color: white;
	line-height: 20px;
	font-family: Georgia, serif;
}

.contacttext1 a {
	color: white;
	line-height: 20px;
	font-family: Georgia, serif;
}

.contacttext1 a:visited {
	color: white;
	line-height: 20px;
	font-family: Georgia, serif;
}

.contactwrapper {
	height: 150px;
	width: 520px;
	line-height: 20px;
	font-family: Georgia, serif;
}

#programwrapper {
	height: auto;
	width: 520px;
	margin:0 auto 0 auto;
}

#programwrapper h2 {
	display:inline;
	cursor:pointer;
}

#programwrapper h3 {
	text-align:center;
	font-size:48px;
	font-family: 'Old Standard TT', serif;
	font-weight:500;
	color:#e5ddb9;
}

#programwrapper span {
	display:inline;
	cursor:pointer;
	color:#e5ddb9;
	margin:0 30px 0 0;
	font-family: 'georgia', serif;
	font-size:12px;
	font-weight:500;
	float:right;
}


#contactwrapper li {
	display: inline;

}

/*Info*/

#mapDiv	{
	height: auto;
	width: 425px;
	margin:40px auto 0 auto;
}

.infoOpenBox	{
	display:inline-block;
	width:150px;
	margin:8px 0 0 0;
}

.infoOpenBox p	{
	display:inline;
	width:200px;
	font-family: 'georgia', serif;
	font-size:14px;
	color:#fff;
}

.comment	{
	font-family: 'georgia', serif;
	font-size:11px;
	color:#fff;
	font-style:italic;
}

.frametophtag span	{
	font-family: 'georgia', serif;
	color:#e5ddb9;
	font-size:20px;
	font-weight:600;
	margin: 0 22px 10px 22px;
}

#programwrapper h4 {
	font-size:22px;
	font-family: 'Old Standard TT', serif;
	font-weight:600;
	color:#e5ddb9;
}

#praktiskDiv, #ofteDiv	{
	padding:5px 0 0 0;
}

.infoNavBox	{
	display:inline-block;
	width:auto;
}

.infoPilDiv	{
	width:auto;
	margin-bottom:5px;
}

#infoFrameTop	{
	margin-top:40px;
	height:auto;
}

#infoPilLeft	{
	display:inline-block;
}

#infoPilRight	{
	display:none;
}
