body {
	background-image:url(images/bg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

#header	{
	background-image:url(images/headertransp.png);
	background-repeat:repeat-x;
	width:auto;
	height:auto;
}

#headerImgDiv	{
	width:280px;
	height:auto;
	margin:0 auto 0 auto;
}

#headImg	{
	width:280px;
}

#navDiv	{
	width:280px;
	height:25px;
	background-image:url("images/globalmenu.png");
	margin: 0 auto 0 auto;
}

.navBox{
	width:100px;
	height:auto;
	display:inline-block;
}

#navBoxLeft	{
	float:left;
	margin: 0 0 0 40px;
}

#navBoxRight	{
	float:right;
	margin: 0 40px 0 0;
}

.navBox p	{
	font-family: 'Old Standard TT', serif;
	color:#e5ddb9;
	font-size:20px;
	font-weight:600;
	text-align:center;
}

.programMaster	{
	width:280px;
	height:auto;
	margin:20px auto 30px auto;
}

.frameTop	{
	width:280px;
	height:30px;
	background-image:url("images/rammetop.png");
}

.programwrapper	{
	background-image:url("images/rammemiddle.png");
	padding: 0 10px 0 10px;
}

.frameBottom	{
	width:280px;
	height:30px;
	background-image:url("images/rammebottom.png");
}

.frameTop	p{
	text-align: center;
	font-family: 'Old Standard TT', serif;
	color:#e5ddb9;
	font-size:20px;
	padding-top:5px;
}

h2	{
	font-family: 'Old Standard TT', serif;
	color:#e5ddb9;
	font-size:18px;
	display:inline-block;
	cursor:pointer;
}

#febIspan, #febIIspan, #febIIIspan, #febIIIIspan	{
	font-family: 'georgia', serif;
	color:#e5ddb9;
	font-size:12px;
	display:inline-block;
	float:right;
	cursor:pointer;
}

.p1	{
	color:white;
	font-size:14px;
	font-weight:400;
	font-family:'georgia', serif;
}

#infoLeft, #infoRight	{
	display:inline-block;
	width:100px;
}

#infoLeft	{
	float:left;
	margin: 0 0 0 30px;
}

#infoRight	{
	float:right;
	margin: 0 40px 0 0px;
}

.hrgolden {
	background-image:url(images/hr.png);
	background-repeat:repeat-x;
	width: 170px;
}

/*Info*/
.infoOpenBox	{
	display:inline-block;
	width:130px;
	margin:8px 0 0 0;
}

.infoOpenBox p	{
	display:inline;
	font-family: 'georgia', serif;
	color:#000;
	font-size:14px;
	color:#fff;
}

.comment	{
	font-family: 'georgia', serif;
	font-size:11px;
	color:#fff;
	font-style:italic;
}

#ofteDiv h2	{
	font-size:16px;
}

#programNav, #infoLeft	{
	text-decoration: underline;
}
